listener "tcp" {
  address          = "0.0.0.0:8200"
  cluster_address  = "{{ ADDR }}:8201"
  tls_disable      = "true"
}

storage "raft" {
  path = "/opt/raft"
  node_id = "raft-{{ NODE_NAME }}"
  autopilot_redundancy_zone = "{{ AWS_ZONE }}"
  retry_join {
    auto_join = "provider=aws region={{ AWS_REGION }} tag_key=Vault tag_value={{ CLUSTER_NAME }}"
    auto_join_scheme = "http"
    auto_join_port = 8200
  }
}

api_addr =  "http://{{ LB_ADDR }}:8200"
cluster_addr = "https://{{ ADDR }}:8201"

ui = true

seal "awskms" {
  region     = "{{ AWS_REGION }}"
  kms_key_id = "{{ KMS_KEY }}"
}